/* CSS styles */
h1{color:#917a3a}

body 
{
  font-family: "Arial",san-serif;
  padding: 50px;
}
	  
p.firstPara{
  margin: 20px;
  padding: 50px;
  border-style: solid;
  border-width: 2px;
  text-align: justify;
  background-color: #fff7cc;
}

div.LinkingWebPagePara{
  margin: 20px;
  padding: 50px;
  background-color: #e6e2d1;
}

#description {color: #7d7a74}
#FoodTitle {color: #5c0441}
#MovieTitle {color: #5c0441}

.itemFood{
	color: #d989c1
}

.itemMovie{
	color: #d989c1
}



ol li {
	font-family: "cursive",san-serif;
}

p > b {color: red}